<!DOCTYPE html>
<html>
  <head>
    <title>About me</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="container">
  <center>
<h1 class="text-muted" >Welcome to About Me page!</h1>
</center>
</div>

<center>
  <img src="https://www.sharelatex.com/img/dropbox/dropbox_logo.png" alt="Dropbox" width = "325" height = "125" align="middle" hspace="20">  

</center>
  

   
    <div  class="container">
      <div  class="text-muted">

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Name: </strong><%= data[2].name %></p>
	      
           		    <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>EmailId: </strong><%= data[2].username %></p>
                   
                	<p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Password: </strong><%= data[2].password %></p>

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Contact: </strong>6692120980</p>

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>DOB: </strong>06/29/1993</p>

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Education: </strong> Graduate</p>

            		  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Interests: </strong>Music, Soccer, Coding</p>

               
        </div>   
	</div>
  </body>
</html>