<!DOCTYPE html>
<html>
  <head>
    <title><Dropbox></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <center>
    <img src="https://media.giphy.com/media/3oEdvcXYvGxhkOZD3O/giphy.gif" alt="Dropbox" width = "300" height = "300" align="middle" hspace="20">
    
  </center>
  
  <body>
   <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
			<center> 
			
            <li role="presentation"><a href="/signin">Login</a></li>

            <li role="presentation"><a href="/signup">Register</a></li>

			</center>
          </ul>
           
        </nav>
        <h3 class="text-muted">Dropbox</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <strong>Dashboard</strong>
        </div>
        
      <footer class="footer">
        <p>&copy; CMPE273 2017 Dropbox, Inc.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>