<!DOCTYPE html>
<html>
  <head>
    <title><Dropbox></title>
    <ul class="alert alert-danger">All fields need to be populated. Please try again!</ul>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><h2 class="page-header">Register</h2></center>
    <center>
    <img src="https://www.sharelatex.com/img/dropbox/dropbox_logo.png" alt="Dropbox" width = "325" height = "150" align="middle" hspace="20"> 
      <img src="http://cdn.bleacherreport.net/images/team_logos/328x328/san_jose_state.png" alt="Dropbox" width = "300" height = "200" align="middle" hspace="20">
   </center>
    
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
      <center> 
        <li role="presentation"><a href="/">Dashboard</a></li>

            <li role="presentation"><a href="signin">Login</a></li>
            
      </center>
          </ul>
           
        </nav>
        <h3 class="text-muted">Dropbox</h3>
      </div>
   
<form method="post" action="setSession">
  <div class="container">
    <label><b>Name</b></label>
    <input type="text" class="form-control" name="inputUsername" id="inputUsername" placeholder="Name">
										
  </div>
  <div class="container">
    <label><b>Email</b></label>
    <input type="email" class="form-control" name="emailaddress" id="emailaddress" placeholder="Email Id">
  </div>
   <div class="container">
    <label><b>Password</b></label>
    <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Password">
 </div>

 <center><button type="submit" class="btn btn-default">Register</button></center>
    
 

</form>
        <center><footer class="footer">
        <p>&copy; CMPE273 2017 Dropbox, Inc.</p>
      </footer></center>
      

    </div> <!-- /container -->
  </body>
</html>