
<!DOCTYPE html>
<html>
  <head>
    <title><Dropbox></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><ul class="alert alert-danger">Incorrect username or password!</ul></center>
    <center>
    <img src="https://www.sharelatex.com/img/dropbox/dropbox_logo.png" alt="Dropbox" width = "325" height = "150" align="middle" hspace="20"> 
      <img src="http://cdn.bleacherreport.net/images/team_logos/328x328/san_jose_state.png" alt="Dropbox" width = "300" height = "200" align="middle" hspace="20">
   </center>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
      <center> 
        <li role="presentation"><a href="/">Dashboard</a></li>


            <li role="presentation"><a href="/signup">Register</a></li>

      </center>
          </ul>
           
        </nav>
        <h3 class="text-muted">Dropbox</h3>
      </div>
   
<form method="post" action="afterSignIn">
  <div class="container">
    <label><b>Username</b></label>
    <input type="email" class="form-control" name="inputUsername" id="inputUsername" placeholder="Email Id">
  </div>
   <div class="container">
    <label><b>Password</b></label>
    <input type="password" class="form-control" placeholder="Enter Password" name="inputPassword" id="inputPassword" >
 </div>

 <center><button type="submit" class="btn btn-default">Login</button></center>
    
 

</form>
        <center><footer class="footer">
        <p>&copy; CMPE273 2017 Dropbox, Inc.</p>
      </footer></center>
      

    </div> <!-- /container -->
  </body>
</html>