<!DOCTYPE html>
<html>

  <head>
    <title>Dropbox</title>
    <center><h1  class="header clearfix"> <strong>Welcome to your homepage</strong></h1></center>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>



      
      
  	<div class="container">
       <div class="header clearfix">
        <center> 

 <img src="https://dropeverything.com.au/sites/default/files/Dropbox%20Gif.gif" alt="Dropbox" width = "600" height = "200" align="middle" hspace="20">
        <li align="left"  role="presentation"><a href="/aboutMe">About Me!</a></li>

      </center>
        <form align="right" action="/logout" method="post" >
        <button type="submit" class="btn btn-default">Logout</button>
      </form>
    </div>
    </div>
      <div class="container">
          <div class="header clearfix">
  		<form action="/uploads" method="post" encType="multipart/form-data">
  		
	  		<input type="file" name="filenames"/>
	  		<input type="submit" class="btn btn-default" name="submit" value="Upload!"/>
  		
  		</form>
        </div>
    </div>

 <div class="container">
      <center>
         <div class="header clearfix">
       <h3 class="text-muted">
        

        Your Files and Folders:
        </h3>
        <br/>
         <% for(var i in data) 
              {                     
            %>
            <strong>
       <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.75em;"><%=Number(i)+1%> . <%=  data[i] %></p>
       <br>
       </strong>
             
         <% 
              }  
         %>
      
      </center>
       </div>
        <div class="container">
      <form align="left" method="post" action="createDirectory">
       
          <input type="text" class="form-control" name="directory" id="directory" placeholder="Enter name of directory to create!">
          <button type="submit"  class="btn btn-default">Create!</button>
        </div>
         <div class="container">
        
      </form>
      </div>
      <div class="container">
        <form align="left" method="post" action="share">
       
          <input type="email" class="form-control" name="sharemail" id="sharemail" placeholder="Enter email to share files with!">
          <button type="submit"  class="btn btn-default">Share!</button>

       
       
      </form>
       </div>
         <div class="container">
      <center><footer class="footer">
        <p>&copy; CMPE273 2017 Dropbox, Inc.</p>
      </footer></center>

  	</div>
  </body>
  
</html>